<% content_for :head do %>
  <title><%= @type_of_thing.name.pluralize.titleize %></title>
<% end %>

<%= content_tag("h1", pluralize(@type_of_thing.things.size, @type_of_thing.name).titleize) %>

<ul>
	<% @type_of_thing.things.find_each do |thing| %>	
		<li><%= link_to name_or_title(thing), thing %></li>
	<% end %>
</ul>